@mixin clearfix
  &:after
    content: ''
    display: table
    clear: both

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  margin: 0

.controls
  background: pink

.pomodoro-buttons
  @include clearfix()

  margin-left: auto
  margin-right: auto
  width: 800px
  background: #ffff00

.pomodoro-button
  float: left
  margin: 10px 5px
  padding: 100px 50px
  background: lightblue

.timer
  background: blue

.history
  background: green
