html(lang="en")
  head
    
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Economica:700')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Wire+One')
    link(rel='stylesheet', type='text/css', href='/style/third-party.css')
    link(rel='stylesheet', type='text/css', href='/style/main.css')

    title Test Title
  body
    .controls
      .pomodoro-controls.center-horizontally
        a.pomodoro-button.start-pomodoro Start Pomodoro
        a.pomodoro-button.start-short-break Short Break
        a.pomodoro-button.start-long-break Long Break      

    div.timer
      | Timer
    div.history
      | History

    script(src='/scripts/app.js')
